<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="book :${books}">
    <a th:href="@{/books/{id} (id=${book.getBookId()})}" th:text=
            "'Название книги: ' + ${book.getName()} + ', Автор: ' + ${book.getAuthor()} + ', Год: ' + ${book.getYear()}"/>
</div>
<hr/>
<br/>

<div>
    <form th:action="@{/books/create}">
        <input type="submit" value="Создать новую книгу">
    </form>
    <hr/>
    <br/>
</div>

<div>
    <form method="get" action="books">
        <input type="hidden" value="true" name="sortByName"/>
        <button type="submit">Отсортировать по названии</button>
    </form>
    <hr/>
    <br/>
</div>

<div>
    <form>
        <input type="hidden" name="page" th:value="${page}">
        <input type="hidden" name="sortByName" th:value="${sortByName}">
        <input type="submit" value="Отсортировать по имени">
    </form>
</div>

<div>
    <a th:href="@{/books(page=(${page} + 1), sortByName=(${sortByName}))}">Следующая страница</a>
    <a th:href="@{/books(page=(${page} - 1), sortByName=())}">Предыдущая страница</a>
    <a th:value="'Страница №:' + ${page}"></a>
</div>

</body>
</html>